.pimg1
	.ptext
		span.border Parallax website
section.section.section-light
	h2 Section One
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus semper, tincidunt justo sit amet, consectetur mi. Aliquam erat volutpat. Aenean in tortor non mauris aliquam iaculis quis quis dui. Sed et nisi euismod, lacinia quam eu, feugiat velit. Aenean vulputate viverra sapien vitae tincidunt. Curabitur tincidunt accumsan sem id sodales. Morbi tincidunt nibh vitae porta pretium. Proin feugiat tellus felis, in aliquet eros sagittis eu. Aliquam vel tincidunt lectus.
.pimg2
	.ptext
		span.border image two text
section.section.section-dark.border-hor
	h2 Section two
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus semper, tincidunt justo sit amet, consectetur mi. Aliquam erat volutpat. Aenean in tortor non mauris aliquam iaculis quis quis dui. Sed et nisi euismod, lacinia quam eu, feugiat velit. Aenean vulputate viverra sapien vitae tincidunt. Curabitur tincidunt accumsan sem id sodales. Morbi tincidunt nibh vitae porta pretium. Proin feugiat tellus felis, in aliquet eros sagittis eu. Aliquam vel tincidunt lectus.
.pimg3
	.ptext
		span.border image three text
section.section.section-dark
	h2 Section three
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet risus semper, tincidunt justo sit amet, consectetur mi. Aliquam erat volutpat. Aenean in tortor non mauris aliquam iaculis quis quis dui. Sed et nisi euismod, lacinia quam eu, feugiat velit. Aenean vulputate viverra sapien vitae tincidunt. Curabitur tincidunt accumsan sem id sodales. Morbi tincidunt nibh vitae porta pretium. Proin feugiat tellus felis, in aliquet eros sagittis eu. Aliquam vel tincidunt lectus.
.pimg1
	.ptext
		span.border Parallax website
